.logon-container{
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    margin-top: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.logon-container .content {
    width: 100%;
    padding: 30px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0 ,0 , 0.1);
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logon-container .content section{
    width: 100%;
    max-width: 380px;
}

.logon-container .content section h1 {
    margin: 64px 0 32px;
    font-size: 32px;
    color: #6C6C6C;
    text-align: center;
}

.logon-container .content form{
    width: 100%;
    max-width: 450px;
}

.logon-container .content form input{

    margin-top: 8px;
}

button{
    cursor: pointer;
}
.button{
    margin-top: 10px;
    background: blue;
    width: 100%;
    height: 60px;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: 700;
    display: inline-block;
    font-size: 18px;
    transition: filter 0.2s;
    align-items: center;
}

.button:hover{
    filter: brightness(90%);
}

Form Input{
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
}